.HomeTraining .module-header + .module-content {
  width: 625px;
}

.wrapper {
  width: 100%;
  height: 430px;
  margin: 0px auto;
  position: relative;
}

.HomeHeader {
  font-size: 45px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 60px;
}

.TPose_Size {
  width: 100%;
  height: 100%;
}
.description-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  font-size: 24px;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 0 10px;
  background: #fff;
}

#videoElement {
  height: 100%;
  width: 100%;
}

.menu__description {
  position: absolute;
  bottom: -60px;
  width: 100%;
}
